.box{
    width: 200px;
    height:200px;
    background-color: green;
    border: 15px solid red;
    padding:15px;
    margin: 15px 15px 15px 15px;
    box-sizing: border-box;
}

div{
    height:200px;
    border:3px solid black;
}

.red{
    background-color: red;
    position:sticky;
    top: 500px;
    bottom: 0;
}

.blue{
    background-color:blue;
    position:relative;
    width: 100%;
    box-sizing: border-box;
}

.child{
    background-color: aqua;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
}